extends layout

block head
    title Vexillopedia | The flag encyclopedia
    link(rel="stylesheet", href="/css/flag.css")
    script(src="/js/flag.js", defer)

block body
    header.header
        h1.title Vexillopedia | The flag encyclopedia
    
    main.main
        h2.flag-title Flag of #{name}
        
        div.left-section
            img.flag-image(src="/img/flag/" + image alt= name)
        
            table.flag-information
                tr.flag-ratio 
                    th Ratio 
                    td #{ratio}
                tr.flag-adoption 
                    th Adoption 
                    td #{adoptionDate}
                tr.flag-design 
                    th Design 
                    td #{design}
                tr.flag-colors 
                    th Colors
                    td 
                        table.color-table
                            each color in colors
                                tr
                                    th.color-box(style="background-color:" + color.hex)
                                    td #{color.hex}

        div.right-section
            div.flag-history
                h3.flag-subtitle History
                p !{history.replace(/</g, "&1t;").replace(/>/g, "&gt;").replace(/\n/g, "<br>")}
                
            div.flag-meaning
                h3.flag-subtitle Meaning
                p !{meaning.replace(/</g, "&1t;").replace(/>/g, "&gt;").replace(/\n/g, "<br>")}
        
        div.bottom-section
            if Object.keys(related).length
                div.flag-related
                    h3.flag-subtitle Related Flags
                    
                    if related.similar && related.similar.length
                        h4.flag-subsubtitle Similar Flags
                        ul.card-list
                            each flag in related.similar
                                li.card
                                    a(href="/flag/" + flag.name) 
                                        img(src="/img/flag/" + flag.image alt= flag.name)
                                        span #{flag.name}
                                        
                    if related.dependent && related.dependent.length
                        h4.flag-subsubtitle Dependent Territories
                        ul.card-list
                            each flag in related.dependent
                                li.card
                                    a(href="/flag/" + flag.name) 
                                        img(src="/img/flag/" + flag.image alt= flag.name)
                                        span #{flag.name}
                                        
                    if related.unrecognized && related.unrecognized.length
                        h4.flag-subsubtitle Unrecognized States
                        ul.card-list
                            each flag in related.unrecognized
                                li.card
                                    a(href="/flag/" + flag.name) 
                                        img(src="/img/flag/" + flag.image alt= flag.name)
                                        span #{flag.name}
                                        
                    if related.country && related.country.length
                        h4.flag-subsubtitle Country
                        ul.card-list
                            each flag in related.country
                                li.card
                                    a(href="/flag/" + flag.name) 
                                        img(src="/img/flag/" + flag.image alt= flag.name)
                                        span #{flag.name}
                                        
                    if related.subdivision && related.subdivision.length
                        h4.flag-subsubtitle Region/State
                        ul.card-list
                            each flag in related.subdivision
                                li.card
                                    a(href="/flag/" + flag.name) 
                                        img(src="/img/flag/" + flag.image alt= flag.name)
                                        span #{flag.name}
                                        
                    if related.city && related.city.length
                        h4.flag-subsubtitle Cities
                        ul.card-list
                            each flag in related.city
                                li.card
                                    a(href="/flag/" + flag.name) 
                                        img(src="/img/flag/" + flag.image alt= flag.name)
                                        span #{flag.name}
            
            if sources.length
                div.flag-sources
                    h3.flag-subtitle Sources
                    ul.sources
                        each link, index in sources
                            li.link [#{index}] 
                                a(href= link target="_blank") #{link}